body {
    font-family: 'Nunito Sans', sans-serif;
}





nav {
    background-color: hsla(0,0%,100%,.8);
    background: hsla(0,0%,100%,.88);
    backdrop-filter: blur(12px);
    
    padding-top: 25px;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
}

.nav-links {
    display: none;
}

.nav-links ul, .show-menu ul {
    margin-bottom: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.nav-links ul li, .show-menu ul li {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 700;
    color: #767676;
    margin-left: 30px;
    
}

.navbar-large-screen li {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
    font-weight: 700;
    color: #767676;

}

.linkLogo {
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

.logo {
    width: 25px;
    height: 25px;
}

.h1Logo {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -1px;
    text-align: center;
    color: #333;
    margin-right: 3px;
}









.title {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    text-align: center;
    margin: 48px 0 10px 0;
    color: #333;
}

span {
    color: #04ddb2;
}

.titleAndDesk {
    padding: 0 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    text-align: center;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    margin-bottom: 60px;

}

.video-screen {
    width: 300px;
    border-radius: 20px;
    transition: all 0.3s;
}

.video-screen:hover {
    box-shadow: 0 100px 140px -50px rgba(0,0,0,.25), 0 0 20px 0 rgba(0,0,0,.03);
    transform: scale3d(1.01,1.01,1.01);
}


.button {
    /* margin: 40px 0; */
    height: 45px;
    background: #04ddb2;
    color: white;
    font-weight: 800;
    font-size: 18px;
    border-radius: 50px;
}










.foot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

.title-foot-section {
    font-weight: 700;
}

.icon-container {
    width: 40px;
    height: 40px;
    background: #04ddb2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 25px;
}

.spacing {
    margin-bottom: 12px;
}


@media (min-width: 650px) {
    .title {
        font-size: 55px;
        padding: 0 48px;
    }

    .desc {
        font-size: 24px;
        padding: 0 30px;
    }

    .video-screen {
        width: 500px;
    }
}

@media (min-width: 800px) {
    .video-screen {
        width: 600px;
    }

    .title {
        padding: 0 122px;
    }
}

@media (min-width: 1024px) {
    .desc {
        padding: 0 200px;
    }

    .title {
        padding: 0 200px;
        font-size: 55px;
    }

    .video-screen {
        width: 800px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1080px) {
    .desc {
        padding: 0 450px;
    }
    .title {
        font-size: 60px;
        padding: 0 500px;
    }
    .video-screen {
        width: 900px;
        margin-bottom: 20px;
    }
}

